<div class="visitor-dashboard p-4">
  
    <!-- <div class="main-page-logo align-content-center">
      <img src="../../../../assets/images/PermitPro-Logo.svg" class="img-responsive main-page-logo" alt="logo">
    </div> -->
 
  <div class="card-style p-4 mb-3">
    <h3 class="text-center mb-2 p-2">Registration</h3>
    <div class="details-inline">
      <div class="detail-block card-style">
        <label><i class="fa-solid fa-location-dot icon-primary"></i> Location ID</label>
        <p>{{locationId}}</p>
      </div>
      <div class="detail-block card-style">
        <label><i class="fa-solid fa-map-pin icon-primary"></i> Parking At</label>
        <p>{{locationAddress}}</p>
      </div>
    </div>

    <div class="vrm-highlight">
      <h5>Vehicle Registration Number</h5>
      <input class="form-control form-control-lg" type="text" [(ngModel)]="vrm" placeholder="Enter VRM" />
        <div *ngIf="showVrmError" class="errormsg mt-2">
          <span>Vehicle registration number is required.</span>
        </div>
    </div>
  </div>

  <div class="card-style p-4 mb-3">
    <h5 class="form-label">Parking Duration</h5>
   
    <div class="d-flex justify-content-center flex-wrap mb-3">
    <button *ngFor="let option of parkingDuration"
          class="duration-button"
          [ngClass]="{ 'selected': selectedDuration?.id === option.id }"
          (click)="selectDuration(option)">
          {{ option.label }}
    </button>
      </div>
    
    <div class="arrival-exit-time text-center mt-3">
      <p>Arrival Time: {{ dateAndTime | date: 'HH:mm a,  MMM dd' }}</p>
      <p>Exit Before: {{endTime | date: 'HH:mm a,  MMM dd'}}</p>
    </div>

    <div class="max-duration text-center ">
      <i class="fas fa-info-circle"></i> 
      <h6>Maximum Parking Duration: {{formattedMaxParkingDuration}}</h6>
    </div>
  </div>


  <div class="total-amount text-center mb-4">
    <h5>Total Amount: € {{totalAmount}} </h5>
  </div>


  <div class="text-center mb-4">
    <button class="btn-register w-100" (click)="verifyPlate()">Continue</button>
  </div>

  <app-qr-details *ngIf="vehicleVerified" [data]="summaryData"></app-qr-details>
</div>
