

<section class="home-page-main">
  <div class="row m-0 bg-img gy-4 gy-xl-0">
    <div class="col-xl-6 main-page-content p-0">
      <div class="main-page-details-content">
      <div class="all-home-left login-container">
        <div class="navbar-brand-center text-center">
          <a><img src="../../../../assets/images/PermitPro-Logo.svg" class="img-responsive main-page-logo mb-0"
              alt="logo"></a>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetClick()">
          <h6 class="forgot-password-title">RESET PASSWORD</h6>
          <h1>Enter new password with the otp sent on your email.</h1>
          <div>
            <label>New password<span class="text-danger">*</span></label>
            <div class="position-relative reset-pass-eye">
              <input [type]="isNewPasswordShow ? 'text' : 'password'" formControlName="password" name="password" placeholder="Enter your new password">
              <span class="eyeClass" data-tooltip-location="left" [attr.data-tooltip]="!isNewPasswordShow ? 'Show Password' :  'Hide Password'">
                <i [ngClass]="isNewPasswordShow ? 'fa fa-eye-slash' : 'fa fa-eye'" id="togglePassword"
                  aria-hidden="true" style="cursor: pointer" (click)="showNewPassword()"></i>
              </span>
            </div>
            <div
            *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)"
            class="errormsg">
            <span *ngIf="resetPasswordForm.get('password')?.errors?.['required']">{{'new_password_is_required' |translate}}</span>
          </div>
          </div>

          <div>
            <label>Confirm password<span class="text-danger">*</span></label>

            <div class="position-relative reset-pass-eye">
              <input [type]="isCnfPasswordShow ? 'text' : 'password'" formControlName="confirmPassword"
              name="ConfirmNewPassword"
                placeholder="Confirm your new password">
              <span class="eyeClass" data-tooltip-location="left"
              [attr.data-tooltip]="!isCnfPasswordShow ? 'Show Password' :  'Hide Password'">
              <i [ngClass]="isCnfPasswordShow ? 'fa fa-eye-slash' : 'fa fa-eye'" id="togglePassword"
                aria-hidden="true" style="cursor: pointer" (click)="showCnfPassword()"></i>
            </span>       
            </div>
            <div
                *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
                class="errormsg">
                <span
                  *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">{{'confirm_password_is_required' |translate}}</span>
              </div>
              <div *ngIf="resetPasswordForm.errors?.['passwordMismatch']" class="errormsg">
                <span> {{'Password_and_Confirm_Password_does_not_match' |translate}}</span>
              </div>
          </div>
          <div class="mb-2">
            <label>OTP<span class="text-danger">*</span></label>
            <input type="text" formControlName="otp" name="OneTimePassword"
              placeholder="Enter the OTP sent on your email ">
              <div
              *ngIf="resetPasswordForm.get('otp')?.invalid && (resetPasswordForm.get('otp')?.dirty || resetPasswordForm.get('otp')?.touched)"
              class="errormsg">
              <span *ngIf="resetPasswordForm.get('otp')?.errors?.['required']">{{'Password_reset_code_is_required' |translate}}</span>
              <span *ngIf="resetPasswordForm.get('otp')?.errors?.['maxLength']">{{'otp_max_length' |translate}}</span>
            </div>


          </div>
          <div *ngIf="error" class="errormsg">
            <span>{{ error }}</span>
          </div>
          <ul class="forgot-btn">
            <li>
              <button class="add-button pw-button" type="submit">Reset</button>
            </li>
          </ul>
        </form>
      </div>
      <div class="powered-by">
        <span>Powered By:</span>
        <img src="../../../../assets/images/TES_NEW_LOGO.png" class="fluid" alt="tes-logo">
      </div>
      </div>
    </div>
    <div class="col-xl-6 home-page-right p-0">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="process_box text-center">
              <div class="slide-image-wrapper">

                <div class="box_icon cl1"><img
                    src="http://councilfaultreport.co.uk/councilpermit/frontend/web/ip/images/icons/icon1.png"
                    width="100" height="100"></div>
              </div>
              <div class="process_box_content_main">
                <h4>Registration</h4>
                <p>Complete the visitor book registration form online and wait until your application has
                  been
                  authorized.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="process_box text-center">
              <div class="slide-image-wrapper">

                <div class="box_icon cl2"><img
                    src="http://councilfaultreport.co.uk/councilpermit/frontend/web/ip/images/icons/icon2.png"
                    width="100" height="100"></div>
              </div>
              <div class="process_box_content_main">
                <h4>Authorization</h4>
                <p>Back-office staff will review the application and authorize or reject the application.
                </p>
              </div>

            </div>
          </div>
          <div class="carousel-item">
            <div class="process_box text-center">
              <div class="slide-image-wrapper">

                <div class="box_icon cl3"><img
                    src="http://councilfaultreport.co.uk/councilpermit/frontend/web/ip/images/icons/icon3.png"
                    width="100" height="100"></div>
              </div>
              <div class="process_box_content_main">

                <h4>Purchase the Voucher Book</h4>
                <p>Once authorized, you can now purchase your vouchers online, on the web, phone, or tablet.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="process_box text-center">
              <div class="slide-image-wrapper">

                <div class="box_icon cl4"><img
                    src="http://councilfaultreport.co.uk/councilpermit/frontend/web/ip/images/icons/icon4.png"
                    width="100" height="100"></div>
              </div>
              <div class="process_box_content_main">

                <h4>Redeem Voucher</h4>
                <p>Once purchased, you can now redeem your vouchers online, on the web, phone, or tablet.
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>