<section class="home-page-main">
  <div class="row m-0 bg-img gy-4 gy-xl-0">
    <div class="col-xl-6 main-page-content p-0">
      <div class="main-page-details-content">
        <div class="all-home-left login-container">
          <div class="navbar-brand-center text-center">
            <a><img src="../../../../assets/images/PermitPro-Logo.svg" class="img-responsive main-page-logo"
                alt="logo"></a>
          </div>
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPaawordClick()">
            <h6 class="forgot-password-title">FORGOT PASSWORD</h6>
            <h1>Enter the email address associated with your account.</h1>
            <p>We will email you a link to reset your password.</p>
            <div class="mb-3">
              <label>Email<span class="text-danger">*</span></label>
              <input type="text" formControlName="email" name="email" placeholder="Enter your email address">
              <div
                *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
                class="errormsg">
                <span> Please provide Email Address</span>
              </div>
            </div>
            <div *ngIf="error" class="errormsg">
              <span>{{ error }}</span>
            </div>
            <ul class="forgot-btn">
              <li>
                <button class="add-button pw-button" type="submit">Send</button>
              </li>
              <li>
                <button class="add-button pw-button" type="button" routerLink="/login">Back</button>
              </li>
            </ul>
          </form>
        </div>
        <div class="powered-by">
          <span>Powered By:</span>
          <img src="../../../../assets/images/TES_NEW_LOGO.png" class="fluid" alt="tes-logo">
        </div>
      </div>
    </div>
    <div class="col-xl-6 home-page-right p-0 position-relative">
      <div class="process-box-content">
        <div class="process-box-block">
          <div class="box_icon cl1">
            <img src="http://councilfaultreport.co.uk/councilpermit/frontend/web/ip/images/icons/icon1.png" width="50"
              height="50">
          </div>
          <div class="process_box_content_main">
            <h4>Registration</h4>
            <div class="sub-text">Complete the visitor book registration form online and wait until your application has
              been authorised.
            </div>
          </div>
        </div>
        <div class="process-box-block">
          <div class="box_icon cl1">
            <img src="http://councilfaultreport.co.uk/councilpermit/frontend/web/ip/images/icons/icon2.png" width="50"
              height="50">
          </div>
          <div class="process_box_content_main">
            <h4>Authorization</h4>
            <div class="sub-text">
              Back office staff will reveiw the application and authorised or reject the application.
            </div>
          </div>
        </div>
        <div class="process-box-block">
          <div class="box_icon cl1">
            <img src="http://councilfaultreport.co.uk/councilpermit/frontend/web/ip/images/icons/icon3.png" width="50"
              height="50">
          </div>
          <div class="process_box_content_main">
            <h4>Purchase Voucher Book</h4>
            <div class="sub-text">
              Once authorised you can now purchase your vouchers online, on web, phone or tablet.
            </div>
          </div>
        </div>
        <div class="process-box-block">
          <div class="box_icon cl1">
            <img src="http://councilfaultreport.co.uk/councilpermit/frontend/web/ip/images/icons/icon4.png" width="50"
              height="50">
          </div>
          <div class="process_box_content_main">
            <h4>Redeem Voucher</h4>
            <div class="sub-text">
              Once purchased you can now reedem your vouchers online, on web, phone or tablet.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>